doctype html
html(lang='cn')
    head
        meta(charset='utf-8')
        meta(name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title #{ title }
        link(rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.1/normalize.min.css" type="text/css")
        link(rel="stylesheet" href="/css/scss/style.css" type="text/css")
        style.
            .datepicker {
                border: 1px solid #ccc;
                border-radius: 4px;
                padding: 5px;
                height: 24px;
                line-height: 24px;
                width: 230px;
            }
            .datepicker:focus {
                outline: 0 none;
                border: 1px solid #1abc9c;
            }


    body
        input(type='text' class='datepicker')


        script(src='/js/date.js')
        script(src='/js/index.js')
        script.
            datepicker.init('.datepicker')

